<html lang="ko">
    <head>
        <title>한컴 최고관리자</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../../../css/common.css">
        <link rel="stylesheet" type="text/css" href="../../../css/lib/daterangepicker_popup.css">
        <link rel="stylesheet" type="text/css" href="../../../css/lib/fullCalendar.css">
        <link rel="stylesheet" type="text/css" href="../../../css/lib/jquery.dataTables.css">
        <link type="text/css" rel="styleSheet" href="//unpkg.com/swiper/swiper-bundle.css">
        <link type="text/css" rel="stylesheet" href="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/style.css">
        <script type="text/javascript" src="../../../js/jquery-2.2.2.min.js"></script>
        <script type="text/javascript" src="../../../js/common.js"></script>
        <script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
        <script type="text/javascript" src="../../../js/lib/moment.min.js"></script>
        <script type="text/javascript" src="../../../js/lib/daterangepicker_popup.js"></script>
        <script type="text/javascript" src="../../../js/lib/jquery.mtz.monthpicker.js"></script>
        <script type="text/javascript" src="../../../js/lib/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../../../js/lib/dataTables/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="../../../js/lib/dataTables/buttons.html5.min.js"></script>
        <script type="text/javascript" src="../../../js/lib/dataTables/buttons.colVis.min.js"></script>
        <script type="text/javascript" src="../../../js/lib/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="../../../js/lib/highcharts/modules/data.js"></script>
        <script type="text/javascript" src="../../../js/lib/highcharts/modules/drilldown.js"></script>
        <script type="text/javascript" src="../../../js/chart.js"></script>
        <script type="text/javascript" src="../../../js/lib/jquery.techbytarun.excelexportjs.js"></script>
        <script type="text/javascript" src="../../../js/table.js"></script>
        <script type="text/javascript" src="../../../js/lib/dropzone/dropzone.js"></script>
        <script type="text/javascript" src="../../../js/lib/fullCalendar.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="../../../js/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/js/content-script/page_context.js"></script>
    </head>
    <body naver_screen_capture_injected="true">
        <div id="loadingBg" class="complete">
            loading...
        </div>
        <script type="text/javascript">
            $(window).load(function () {
                $("#loadingBg").addClass("complete");
            });
        </script>
        <div data-include-path="/layout/header.html"></div>
        <div id="wrap">
            <h1 class="location">홈 > SSP연동사별통계 > 지면별통계</h1>
            <ul class="subMenu-list">
                <li onclick="location.href='/layout/v2/admix_report/manage_report_media_day_admix.html'">[일자별통계]</li>
                <li onclick="location.href='/layout/ad/network_report.html'" class="active">[지면별통계]</li>
                <li onclick="location.href='/layout/v2/admix_report/manage_report_media_ecpm_new.html'">[연동플랫폼]</li>
                <li onclick="location.href='/layout/ad/manage_external_match.html'">[관리]</li>
            </ul>
            <ul class="subMenu-list">
                <li onclick="location.href='javascript:void(0)'" class="active">[전체]</li>
                <li onclick="location.href='javascript:void(0)'">[웹]</li>
                <li onclick="location.href='javascript:void(0)'">[모바일]</li>
            </ul>
            <!-- start 검색 폼:s-->
            <section class="optionBox">
                <h3 class="hidden">옵션 박스</h3>
                <div class="date">
                    <h4 class="hidden">날짜선택</h4>
                    <div class="calendar">
                        <div class="icon"></div>
                        <div class="dateChoice">
                            <input type="text" class="dateInput" value="" readonly="readonly" autocomplete="false">
                            <input type="hidden" name="sDate" value="20210301">
                            <input type="hidden" name="eDate" value="20210315">
                        </div>
                    </div>
                </div>
                <div class="customSelect setType">
                    <h4>연동사</h4>
                    <select>
                        <option value="mobonal" selected="">모비온(타게팅)</option>
                        <option value="mobonal1">모비온(Non-타게팅)</option>
                        <option value="">쿠팡(즐겨찾기)</option>
                    </select>
                </div>
                <button type="button" class="excelDown">엑셀</button>
            </section>
            <!-- 검색 폼:e-->
            <section class="tableSection">
                <div>
                    <table class="dataTable">
                        <colgroup>
                            <col width="12%" />
                            <col width="5%" />
                            <col width="8%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="5%" />
                        </colgroup>
                        <thead>
                            <tr role="row">
                                <th class="sorting">지면명</th>
                                <th class="sorting">S값</th>
                                <th class="sorting">존아이디</th>
                                <th class="sorting">요청수</th>
                                <th class="sorting">요청 받은 수</th>
                                <th class="sorting">노출수</th>
                                <th class="sorting">클릭수</th>
                                <th class="sorting">클릭률</th>
                                <th class="sorting">CPC</th>
                                <th class="sorting">수익금액</th>
                                <th class="sorting">정산금액</th>
                                <th class="sorting">ECPM</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="totalFooter bold">
                                <td colspan="3">합계</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td class="PCT blue">9999</td>
                                <td class="WON purple">9999</td>
                                <td class="WON red">9999</td>
                                <td class="WON sun">9999</td>
                                <td class="WON green">9999</td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>안랩_토스트_300*250<i class="search_btn" onclick="window.open('/layout/v2/popup/network_report_popup.html','pop','resizable=yes,width=1600,height=700,scrollbars=yes')"></i></td>
                                <td>3</td>
                                <td>Mjk</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td class="PCT blue">9999</td>
                                <td class="WON purple">9999</td>
                                <td class="WON red">9999</td>
                                <td class="WON sun">9999</td>
                                <td class="WON green">9999</td>
                            </tr>
                            <tr>
                                <td>안랩_토스트_300*250</td>
                                <td>3</td>
                                <td>Mjk</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td class="PCT blue">9999</td>
                                <td class="WON purple">9999</td>
                                <td class="WON red">9999</td>
                                <td class="WON sun">9999</td>
                                <td class="WON green">9999</td>
                            </tr>
                            <tr>
                                <td>안랩_토스트_300*250</td>
                                <td>3</td>
                                <td>Mjk</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td class="PCT blue">9999</td>
                                <td class="WON purple">9999</td>
                                <td class="WON red">9999</td>
                                <td class="WON sun">9999</td>
                                <td class="WON green">9999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-nav-box">
                    <div class="page-nav">
                        <div class="prev"></div>
                        <ul>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                        <div class="next"></div>
                    </div>
                </div>
            </section>
            <section class="tableSection"><!--쿠팡(즐겨찾기) 선택시 테이블 class에 none 사용하면 감춤-->
                <div>
                    <table class="dataTable">
                        <colgroup>
                            <col width="10%" />
                            <col width="6%" />
                            <col width="10%" />
                            <col width="7%" />
                            <col width="7%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                            <tr role="row">
                                <th class="sorting">지면명</th>
                                <th class="sorting">S값</th>
                                <th class="sorting">존아이디</th>
                                <th class="sorting">요청수</th>
                                <th class="sorting">요청받은수</th>
                                <th class="sorting">설치수</th>
                                <th class="sorting">총수량</th>
                                <th class="sorting mt-30"><div><p>구매수량</p><p class="red">취소수량</p></div></th>
                                <th class="sorting">총매출</th>
                                <th class="sorting mt-30"><div><p>구매금액</p><p class="red">취소금액</p></div></th>
                                <th class="sorting">수익금액</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="totalFooter bold">
                                <td colspan="3">합계</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td><p>99999</p><p class="red">-123</p></td>
                                <td class="WON">99999</td>
                                <td><p class="WON">99999</p><p class="WON red">-123</p></td>
                                <td class="WON">99999</td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>한컴_즐겨찾기<i class="search_btn" onclick="window.open('/layout/v2/popup/network_report_1_popup.html','pop','resizable=yes,width=1600,height=700,scrollbars=yes')"></i></td>
                                <td>3</td>
                                <td>Mjk</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td><p>99999</p><p class="red">-123</p></td>
                                <td class="WON">99999</td>
                                <td><p class="WON">99999</p><p class="WON red">-123</p></td>
                                <td class="WON">99999</td>
                            </tr>
                            <tr>
                                <td>한컴_즐겨찾기</td>
                                <td>3</td>
                                <td>Mjk</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td><p>99999</p><p class="red">-123</p></td>
                                <td class="WON">99999</td>
                                <td><p class="WON">99999</p><p class="WON red">-123</p></td>
                                <td class="WON">99999</td>
                            </tr>
                            <tr>
                                <td>한컴_즐겨찾기</td>
                                <td>3</td>
                                <td>Mjk</td>
                                <td>999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td>9999</td>
                                <td><p>99999</p><p class="red">-123</p></td>
                                <td class="WON">99999</td>
                                <td><p class="WON">99999</p><p class="WON red">-123</p></td>
                                <td class="WON">99999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-nav-box">
                    <div class="page-nav">
                        <div class="prev"></div>
                        <ul>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                        <div class="next"></div>
                    </div>
                </div>
            </section>
            <footer id="footer"></footer>
        </div>
    </body>
    <audio src="" id="naver_dic_audio_controller" controls="controls" style="display: none;"></audio>
</html>

