<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko"><head>
    <title>안랩애드 최고관리자</title>
<!--파비콘 공통:s-->
<link rel="shortcut icon" href="https://image.ahnlab.com/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="https://image.ahnlab.com/favicon//favicon.ico">
<link rel="icon" type="image/png" sizes="152x160" href="https://image.ahnlab.com/favicon/favicon_152.png">
<link rel="icon" type="image/png" sizes="144x160" href="https://image.ahnlab.com/favicon/favicon_144.png">
<link rel="icon" type="image/png" sizes="120x120" href="https://image.ahnlab.com/favicon/favicon_120.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://image.ahnlab.com/favicon/favicon_96.png">
<link rel="icon" type="image/png" sizes="72x72" href="https://image.ahnlab.com/favicon/favicon_72.png">
<link rel="icon" type="image/png" sizes="57x57" href="https://image.ahnlab.com/favicon/favicon_57.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://image.ahnlab.com/favicon/favicon_32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://image.ahnlab.com/favicon/favicon_16.png">
<!--파비콘 공통:e-->
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<meta name="viewport" content="width=1920">
<link href="/css/upload.css?20161121" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/admin_script.js?v=20210617183615"></script>
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    var j$ = jQuery.noConflict();
</script>
<script language="Javascript" src="/js/carendar.js"></script><link type="text/css" rel="stylesheet" href="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/style.css"><script type="text/javascript" charset="utf-8" src="chrome-extension://eobejphpabbjeehffmbiecckpkggpbai/js/content-script/page_context.js"></script></head><body naver_screen_capture_injected="true"><div id="minical" oncontextmenu="return false" ondragstart="return false" onselectstart="return false" style="background:buttonface; margin:5; padding:5;margin-top:2;border-top:1 solid buttonshadow;border-left: 1 solid buttonshadow;border-right: 1 solid buttonshadow;border-bottom:1 solid buttonshadow;width:170;display:none;position: absolute; z-index: 99"></div>
<script>
    function f_logout(){
        member_login.mode.value = "logout";
        member_login.submit();
    }

    function f_logon(){
        member_login.mode.value = "login";
        member_login.submit();
    }
</script>


<script language="JavaScript" src="/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/js/calender/helloCalendar.css">
<script type="text/javascript" src="/js/calender/helloCalendar.js"></script>

<link href="/css/top.css?v=20210617183615" rel="stylesheet" type="text/css">
<link href="/css/default.css?20210012" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="/v2/assets/ahnlab/css/reset.css">
<link rel="stylesheet" type="text/css" href="/v2/assets/ahnlab/css/common.css">
<link rel="stylesheet" type="text/css" href="/v2/assets/ahnlab/css/lib/daterangepicker_popup.css">
<link rel="stylesheet" type="text/css" href="/v2/assets/ahnlab/css/lib/fullCalendar.css">
<link rel="stylesheet" type="text/css" href="/v2/assets/ahnlab/css/lib/jquery.dataTables.css">

<script type="text/javascript" src="/v2/assets/ahnlab/js/jquery-2.2.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/v2/assets/ahnlab/js/common.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/moment.min.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/daterangepicker_popup.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/jquery.mtz.monthpicker.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/dataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/dataTables/buttons.html5.min.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/dataTables/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/js/highcharts.js"></script>

<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/highcharts/modules/data.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/highcharts/modules/drilldown.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/chart.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/jquery.techbytarun.excelexportjs.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/table.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/dropzone/dropzone.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/lib/fullCalendar.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/v2/assets/ahnlab/js/jquery.ui.touch-punch.min.js"></script>

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="margin-bottom: 30px;margin-top:80px;">
<tbody><tr>
    <td style="padding:0px;background-color:#f4f4f4;">

<script>
function submit_form(gb,st_date,en_date){
    if(st_date){
        frm.st_date.value = st_date;
    }
    if(en_date){
        frm.en_date.value = en_date;
    }
    if(gb!=""){
        frm.gb.value  = gb;
    }
    if(gb==""){
        frm.gb.value  = "TOT";
    }
    frm.submit();
}
function submit_form_web(gb_web){
    frm.gb_web.value = gb_web;
    frm.submit();
}

function submit_form_search_btn(gb,st_date,en_date,cate){
    var tmpDate = $('#dateInput').val().split(' ~ ');

    frm.st_date.value = tmpDate[0];
    frm.en_date.value = tmpDate[1];

    if (gb) {
        frm.gb.value = gb;
    }

    frm.action = './DailyReport.php';
    frm.target = '_self';
    frm.submit();
}

</script>

<textarea>           
    SELECT	CR.USERID		AS adverId,
            AD.corpname		AS adverCorpName,
            CR.seq			AS seq,
            CR.TYPE		AS itype,
            CR.DEVICE		AS imgSe,
            CR.size		AS imgCode,

            CR.CONTENTS	AS imgInfo,
            CR.BGCOLOR		AS imgBkg,
            CR.STATUS		AS  useYn,

            CR.NAME		AS crtName,
            CR.URL			AS crtUrl,
            CR.HISTORY		AS history,
            CR.WIDTH		AS width,
            CR.HEIGHT      AS height,
            CR.CONF_DTTM	AS  confmDt,
            CR.REJECT_DTTM	AS  rejectDt,
            CR.REG_DTTM	AS  regDt,
            CR.ALT_DTTM	AS  altDt,

            CR.REG_USER_ID	AS userId
    FROM	dreamsearch.CREATIVE AS CR
        LEFT
        JOIN	dreamsearch.admember AS AD
    ON 		CR.userid = AD.userid
    WHERE	AD.USERID = 'jhkimssp'
         and CR.seq = '13' 
        ORDER BY CR.seq DESC
        
         

</textarea>
<div id="wrap" class="popup">
    <form name="frm_list" method="post" action="" target="ifr_pro">
        <div id ="creative_detail" class="modalContent">
            <h1 class="modalMainTitle"><span>SSP_김진호(jhkimssp)</span> 소재 등록 11 소재 검수 </h1>
            <p>* 진행중인 소재를 중간에 반려해도 실시간으로 송출이 중단되지 않습니다. (송출 중단까지 최대 7일 소요)</p>
            <table>
                <colgroup>
                    <col width="20%">
                    <col width="80%">
                </colgroup>
                <tbody>

                <tr>
                    <td>승인 / 반려 히스토리 </td>
                    <td> 승인 : 2021-06-17 17:38:21 <br>
                        반려 : </td>
                </tr>
                <tr>
                    <td>메모 </td>
                    <td>
                        <textarea class="smemo">
                            2021-06-17 10:32:46_등록
                            2021-06-17 16:36:29 | jhkimssp | 승인처리 
                            2021-06-17 17:38:15 | jhkimssp | 승인처리 
                            2021-06-17 17:38:21 | jhkimssp | 승인처리 
                        </textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="centerBox">
                <button type="button" onclick="self.close();">취소</button>
                <button type="button" class="smemo_btn" data-seq="13">저장</button>
            </div>
        </div>
    </form>
</div>
    <script type="text/javascript">
        $('.smemo_btn').on('click', function() {
            var iseq = $(this).data("seq");
            memo = $(".smemo").val();

            if(memo =="")
            {
                alert("내용을 입력하세요");
            }
            var params ={
                mode : 'memo_edit',
                iseq : iseq,
                memo : memo
            }

            // return;
            $.ajax({
                url	: '/ad/ifr_creative.php',
                type : 'POST',
                dataType : 'json',
                data : params,
                success	: function(aData) {
                    if( aData.result == "OK" ) {

                        alert('저장되었습니다.');
                        location.reload();
                    } else {
                        alert('수정 중 문제가 발생하였습니다.');
                    }
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                    alert("통신 실패.")
                }
            });

        });
    </script>
    <script>
        function page(page2)
        {
            frm.dm_page.value=page2;
            frm.submit();
        }
        // select 전체선택, 취소
        function Select_All()
        {
            if(document.frm_list.chk.checked == true) {

                for(i=0; i < frm_list.elements.length ; i++)
                {
                    if(frm_list.elements[i].name.substring(0,5) == "check") frm_list.elements[i].checked = true;
                }
            }
            else {

                for(i=0; i < frm_list.elements.length ; i++)
                {
                    if(frm_list.elements[i].name.substring(0,5) == "check") frm_list.elements[i].checked = false;
                }
            }
        }

        function fdel(){
        var objSave = confirm("선택한 메모를 삭제 하시겠습니까?");
        if (objSave == true) {

            frm_list.mode.value = "chkdel";
            frm_list.action = "/ad/ifr_exposure_ratio.php";
            frm_list.target = "ifr_pro";
            frm_list.submit();
        }
    }
    </script>
    <iframe name="ifr_pro" src="about:blank" width="300" height="0" frameborder="0" scrolling="auto"></iframe>
    <footer id="footer"><p>Copyright(c) 2012 모비온 All rights reserved.</p></footer>
    </body>
    <audio src="" id="naver_dic_audio_controller" controls="controls" style="display: none;"></audio>
</html>